<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>一般ユーザー用</title>
</head>
<body>

<h2>蔵書一覧</h2>

<a th:href="@{/loans}">📄 貸出履歴</a>

<table>
    <tr>
        <th>書名</th>
        <th>著者</th>
        <th>在庫</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.stock}"></td>
    </tr>
</table>

<a th:href="@{/}">ホームに戻る</a>

</body>
</html>